* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./assets/background_astronomy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
}

nav {
    width: 100%;
    display: flex;
    border-bottom: 2px solid whitesmoke;
       
}

.nav-text:hover {
    text-decoration: underline;
}


a{
    text-decoration: none;
    color: antiquewhite;
}

.nav-left {
    width: 25%;
    border-radius: 10px;
    
}

.nav-right {
    width: 55%;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    font-size: larger;
    color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 3rem;
    border-style: solid;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: hsl(215, 64%, 16%) 0px 20px 30px -10px;
}

h2{
    padding: 2rem;
}

h4 {
    padding: 2rem;
}

button {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: hsl(210, 5%, 83%);
}

button:hover {
    box-shadow:hsl(216, 89%, 7%) 10px 20px 30px 10px; 
    cursor: pointer;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    max-height: 40px;
    width: 100%;
    color: whitesmoke;
    border-top: 2px solid whitesmoke;
}

.linkedin:hover {
    text-decoration: underline;
}