* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../assets/background_stars.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Space Mono', monospace;
    color: antiquewhite;
}

nav {
    width: 100%;
    display: flex;
    border-bottom: 2px solid whitesmoke;
       
}

.nav-text:hover {
    text-decoration: underline;
}


a{
    text-decoration: none;
    color: antiquewhite;
}

.nav-left {
    width: 25%;
    border-radius: 10px;
    
}

.nav-right {
    width: 55%;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    opacity: 0.8;
    
}


.icones {
    margin-top: 2em;
    cursor: pointer;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgb(0, 0, 0);
    font-size: large;
}

.icones:hover {
    transform: scale(1.2);
}

.resilia:hover {
    text-decoration: underline;
}
