* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../assets/background_stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
    
}

nav {
    width: 100%;
    display: flex;
    border-bottom: 2px solid whitesmoke;
       
}

.nav-text:hover {
    text-decoration: underline;
}


a{
    text-decoration: none;
    color: antiquewhite;
}

.nav-left {
    width: 25%;
    border-radius: 10px;
    
}

.nav-right {
    width: 55%;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    font-size: larger;
    color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h2{
    padding: 1rem;
}

h4 {
    padding: 1rem;
}

.resilia {
    text-decoration: underline;
    color: yellow;
}

.site:hover {
    text-decoration: underline;
}
